{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm %}
    {{ block('page_checkout_confirm_header') }}

    {{ block('page_checkout_confirm_alerts') }}

    {{ block('page_checkout_confirm_address') }}

    {{ block('page_checkout_confirm_payment_shipping') }}

    {% if config('core.cart.showCustomerComment') %}
        <div class="checkout-additional-wrap">
            {% block page_checkout_finish_customer_comment %}
                {{ parent() }}
            {% endblock %}
        </div>
    {% endif %}

    {{ block('page_checkout_confirm_product_table') }}

    {{ block('page_checkout_confirm_hidden_line_items_information') }}

    {% if b2bSuite %}
        {% block b2b_checkout_confirm_additional_cinema %}
            {% set orderReferenceKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\OrderServiceDecorator::ORDER_REFERENCE_KEY') %}
            {% set deliveryDateKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\OrderServiceDecorator::REQUESTED_DELIVERY_DATE_KEY') %}
            {% set additionalDataExtensionKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\AdditionalDataExtension::NAME') %}

            {% set orderReference = page.cart.getExtension(additionalDataExtensionKey).getOrderReferenceNumber() %}
            {% set deliveryDate = page.cart.getExtension(additionalDataExtensionKey).getRequestedDeliveryDate() %}

            <div class="checkout-additional-b2b">
                <div class="b2b--row b2b--order-reference">
                    <p>
                        {{ 'b2b.CustomOrderReferenceNumberHelpText'|trans }}:
                    </p>
                    <input
                        type="text"
                        class="form-control"
                        name="{{ orderReferenceKey }}"
                        form="confirmOrderForm"
                        placeholder="{{ 'b2b.OrderReferenceNumberLabel'|trans }}"
                        {% if orderReference != null %}value="{{ orderReference }}"{% endif %}
                    >
                </div>
                <br>
                <div class="b2b--row b2b--delivery-date">
                    <p>
                        {{ 'b2b.RequestedDeliveryDateHelpText'|trans }}:
                    </p>
                    <input
                        type="text"
                        class="form-control"
                        name="{{ deliveryDateKey }}"
                        form="confirmOrderForm"
                        placeholder="{{ 'b2b.RequestedDeliveryDateLabel'|trans }}"
                        {% if deliveryDate != null %}value="{{ deliveryDate }}"{% endif %}
                    >
                </div>
            </div>
        {% endblock %}
    {% endif %}

{% endblock %}

{% block page_checkout_additional %}
{% endblock %}

{% block page_checkout_confirm_tos_header %}
{% endblock %}

{% block page_checkout_aside_actions %}
    <div class="checkout-aside-summary">
        {{ block('page_checkout_confirm_tos') }}
    </div>



    {{ parent() }}
{% endblock %}

{% block page_checkout_confirm_table_header %}
    <div class="cart-header-info">
        {{ "checkout.cartHeaderInfo"|trans|sw_sanitize }}
    </div>
{% endblock %}

{% block b2b_checkout_confirm_additional %}
{% endblock %}
