{% block layout_footer_simple %}
    <footer class="footer-simple w-100">
        <div class="footer-bottom">
            <div class="container">
                <div class="row align-items-baseline">
                    {% block error_maintenance_footer_content %}
                        <ul class="footer-service-menu-list list-unstyled">
                            {% if config('core.basicInformation.imprintPage') is not null %}
                                <li class="footer-service-menu-item">
                                    <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.imprintPage') }) }}"
                                       title="{{ "general.imprintLink"|trans|sw_sanitize }}"
                                       class="pl-2 pr-2">
                                        {{ "general.imprintLink"|trans|sw_sanitize }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if config('core.basicInformation.privacyPage') is not null %}
                                <li class="footer-service-menu-item">
                                    <a href="{{ seoUrl('frontend.maintenance.singlepage',{ id: config('core.basicInformation.privacyPage') }) }}"
                                       title="{{ "general.privacyLink"|trans|sw_sanitize }}"
                                       class="pl-2 pr-2">
                                        {{ "general.privacyLink"|trans|sw_sanitize }}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endblock %}

                    {% block layout_footer_copyright %}
                        <div class="footer-copyright">
                            {% sw_icon 'shopware' style {'size':'xs'} %}
                            {{ "footer.copyrightInfo"|trans|sw_sanitize }}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
