{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_navigation %}
    <div class="container">
        <div class="row header-row">
            <div class="col-4 col-lg-7 d-flex align-items-center">
                <div class="nav-main-toggle d-none d-md-block d-xl-none">
                    {% block layout_header_navigation_toggle_tablet %}
                        {% block layout_header_navigation_toggle_tablet_button %}
                            <button class="btn nav-main-toggle-btn header-actions-btn pl-0 pr-4"
                                    type="button"
                                    data-offcanvas-menu="true"
                                    aria-label="{{ "general.menuLink"|trans|striptags }}">
                                {% block layout_header_navigation_toggle_tablet_button_icon %}
                                    {% sw_icon 'ic-menu' style { 'pack':'shape' } %}
                                {% endblock %}
                            </button>
                        {% endblock %}
                    {% endblock %}
                </div>

                {% block layout_header_logo %}
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                {% endblock %}

                {% block base_navigation %}
                    {% block base_navigation_inner %}
                        {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="col-8 col-lg-5 col-xl-auto pl-0">
                <div class="d-flex align-items-center justify-content-end no-gutters header-actions">
                    <span class="col-auto curtain-area"></span>
                    {% block layout_header_search %}
                        <div class="col-auto d-none d-md-block header-search-col" data-navigation-menu="true">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    {% endblock %}

                    {% if config('core.cart.wishlistEnabled') %}
                        {% block layout_header_actions_wishlist %}
                            {{ parent() }}
                        {% endblock %}
                    {% endif %}

                    {% block layout_header_actions_account %}
                        {{ parent() }}
                    {% endblock %}

                    {% block layout_header_actions_cart %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>

            <div class="col-12 d-sm-block d-md-none py-2">
                <div class="row align-items-center justify-content-between no-gutters">
                    {% block layout_header_navigation_toggle %}
                        <div class="col-auto d-md-none">
                            <div class="menu-button">
                                {% block layout_header_navigation_toggle_button %}
                                    <button class="btn nav-main-toggle-btn header-actions-btn p-0"
                                            type="button"
                                            data-offcanvas-menu="true"
                                            aria-label="{{ "general.menuLink"|trans|striptags }}">
                                        {% block layout_header_navigation_toggle_button_icon %}
                                            {% sw_icon 'ic-menu' style { 'pack':'shape' } %}
                                        {% endblock %}
                                    </button>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block layout_header_search_mobile %}
                        <div class="col-auto header-search-col">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
