{% sw_extends '@Storefront/storefront/page/content/detail.html.twig' %}

{% block content_section_inner  %}
    <div class="cms-section {{ sectionClasses|join(' ') }} cms-{{ layout }}"
         style="{% if sectionBgColor %}background-color: {{ sectionBgColor }};{% endif %}{% if sectionBgImg %}background-image: url({{ sectionBgImg }});background-size: {{ section.backgroundMediaMode }};{% endif %}">

        {% sw_include "@Storefront/storefront/section/cms-section-" ~ section.type ~ ".html.twig" %}
    </div>
{% endblock %}

{% block page_content_section %}
    {% set scrollNavigation = section.extensions.swagCmsExtensionsScrollNavigation %}
    {% set anchor = scrollNavigation.translated.displayName|lower|slugify|replace({'.': ''}) %}
    {% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}

    {% if scrollNavigation.active %}
        <div class="swag-cms-extensions-scroll-navigation-wrapper">
            <div class="scroll-navigation-anchor" id="nav-{{ anchor }}"></div>
            {{ block('content_section_inner') }}
        </div>
    {% else %}
        {{ block('content_section_inner') }}
    {% endif %}
{% endblock %}

{% block swag_cms_extensions_scroll_navigation_sidebar_mobile_menu_button_list_content %}
    {% sw_icon 'ic-menu' style { 'pack':'shape' } %}
{% endblock %}

{% block swag_cms_extensions_scroll_navigation_sidebar_toggle_close %}
    <div class="scroll-navigation-sidebar-close scroll-navigation-menu-toggle">
        {% sw_icon 'x' style { 'size': 'xs' }  %}
    </div>
{% endblock %}
