{% block page_product_detail_configurator_options_item %}
    {% set optionIdentifier = [group.id, option.id]|join('-') %}
    {% set isActive = false %}
    {% set isCombinableCls = 'is-combinable' %}

    {% if option.id in page.product.optionIds %}
        {% set isActive = true %}
    {% endif %}

    {% if not option.combinable %}
        {% set isCombinableCls = false %}
    {% endif %}

    {% if option.configuratorSetting.media %}
        {% set displayType = 'media' %}
        {% set media = option.configuratorSetting.media %}
    {% else %}
        {% set displayType = group.displayType %}
        {% if option.media %}
            {% set media = option.media %}
        {% else %}
            {% set media = false %}
        {% endif %}
    {% endif %}

    {% block page_product_detail_configurator_option %}
        <div class="product-detail-configurator-option">
            {% block page_product_detail_configurator_option_radio %}
                <input type="radio"
                       name="{{ group.id }}"
                       value="{{ option.id }}"
                       class="product-detail-configurator-option-input{% if isCombinableCls %} {{ isCombinableCls }}{% endif %}"
                       title="{{ optionIdentifier }}"
                       id="{{ optionIdentifier }}"
                       {% if isActive %}checked="checked"{% endif %}>

                {% block page_product_detail_configurator_option_radio_label %}
                    <label
                        class="product-detail-configurator-option-label{% if isCombinableCls %} {{ isCombinableCls }}{% endif %} is-display-{{ displayType }}"
                        {% if displayType == 'color' and option.colorHexCode %}
                            style="background-color: {{ option.colorHexCode }}"
                        {% endif %}
                        title="{{ option.translated.name }}"
                        for="{{ optionIdentifier }}">

                        {% if displayType == 'media' and media %}
                            {% block page_product_detail_configurator_option_radio_label_media %}
                                {% sw_thumbnails 'configurator-option-img-thumbnails' with {
                                    media: media,
                                    sizes: {
                                        'default': '52px'
                                    },
                                    attributes: {
                                        'class': 'product-detail-configurator-option-image',
                                        'alt': option.translated.name,
                                        'title': option.translated.name
                                    }
                                } %}
                            {% endblock %}
                        {% else %}
                            {% block page_product_detail_configurator_option_radio_label_text %}
                                {{ option.translated.name }}
                            {% endblock %}
                        {% endif %}
                    </label>
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
