{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_product_buy_button %}
    <button class="btn btn-block btn-buy"
            title="{{ "listing.boxAddProduct"|trans|striptags }}">
        {% sw_icon 'ic-plus' style {'pack': 'shape'} %}
        <span class="d-lg-none">{{ "listing.boxAddProductMobile"|trans|sw_sanitize }}</span>
        <span class="d-none d-lg-inline">{{ "listing.boxAddProduct"|trans|sw_sanitize }}</span>
    </button>

{% endblock %}

{% block component_product_box_action_detail %}
    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
       class="btn btn-block btn-light"
       title="{{ "listing.boxProductDetails"|trans|striptags }}">
        {% sw_icon 'ic-arrow-detail' style {'pack': 'shape'} %}
        {{ "listing.boxProductDetails"|trans|sw_sanitize }}
    </a>
{% endblock %}
