{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_content %}
    {% set price = product.calculatedPrice %}
    {% if product.calculatedPrices.count > 0 %}
        {% set price = product.calculatedPrices.last %}
    {% endif %}

    {% set listPrice = price.listPrice.percentage > 0 %}
    {% set hasRange = product.calculatedPrices.count > 1 %}

    <div class="card-body" data-product-box="true">
        {% block component_product_box_rich_snippets %}
            {{  parent() }}
        {% endblock %}

        <div class="product-image-area">
            {% block component_product_box_image %}
                {% set displayMode = displayMode ?: 'cover' %}
                {{ parent() }}
            {% endblock %}

            <div class="product-action-bar">
                {% block component_product_box_action %}
                    {{ parent() }}
                {% endblock %}

                {% if config('core.cart.wishlistEnabled') %}
                    {% block component_product_box_wishlist_button %}
                        {% sw_include '@Storefront/storefront/component/product/card/wishlist.html.twig' with {
                            appearance: 'circle',
                            productId: id
                        } %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>

        {% block component_product_box_info %}
            <div class="product-info">
                <div class="product-labels-ratings{% if (listPrice and not hasRange) or product.markAsTopseller or product.isNew %} justify-content-between{% else %} justify-content-center{% endif %}">
                    {% block component_product_box_badges %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_product_box_rating %}
                        {{ parent() }}
                    {% endblock %}
                </div>

                {% block component_product_box_name %}
                    {{ parent() }}
                {% endblock %}

                {% block component_product_box_variant_characteristics %}
                    {{ parent() }}
                {% endblock %}

                {% block component_product_box_price %}
                    {{ parent() }}
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block component_product_box_description %}
{% endblock %}

{% block component_product_box_wishlist_action %}
{% endblock %}
